.page {
  height: 100%;
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_container {
  flex: 1 1 auto;

  //margin: 3% 5% 0 5%;

}

.dialogs_list_container {
  background: #6bace1;
  width: 25vh;
  display: inline-block;

}

.message_list_container {
  background: coral;

  width: 75vh;
  display: inline-block;

}