.md-search {
	position: relative;

	input[type=submit] {
		font-family: 'FontAwesome', serif;
		position: absolute;
		right: 25px;
		top: 27px;
		color: white;
	}
	input[type=search] {
		background-color: #696c75;
		border-radius: 3px;
		padding: 10px;
		width: 90%;
		box-sizing: border-box;
		margin: 15px 10px;
		color: #fff;
	}
}