.message_item_container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.message_item_darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.message_item_container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.message_avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  float: right;
  font: 15px Arial, sans-serif;
}

/* Style time text */
.message_item_time-right {
  float: right;
  color: #aaa;
}

.send_msg{
  background: #b8ddc9;
}

.recv_msg{
  background: #b8dbdd;
}

.message_item_time-right {
  float: right;
  color: #aaa;
}

.message_item_time-left {
  float: left;
  color: #999;
}