*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login_page_wrap{
  background: #99baef;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login_form_wrap {
  background: #fff;
  padding: 44px 65px;
  -webkit-box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
  -moz-box-shadow: 0 1px 1px rgba(97,127,152,.2),1px 0 0 rgba(97,127,152,.1),-1px 0 0 rgba(97,127,152,.1);
  box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
  border-radius: 2px;
  border: 0;
  margin: 10vh;
  max-width: none;
  width: 409px;
  height: 338px;
}

.login_form_head {
  color: #222;
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: 700;
}

.md-input-group {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  margin: 0 0 22px;
}

.md-input-label {
  font-weight: 400;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -webkit-transform: translate3d(0,22px,0);
  transform: translate3d(0,22px,0);
}

.md-input {
  color: #000;
  background: #fff;
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 13px;
  padding: 3px 0;
  margin: 3px 0 0;
  width: 100%;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.login_head_submit_btn, .login_head_submit_progress {
  background: #4286f4;
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}

.login_head_submit_wrap {
  font-weight: 700;
}